.single-invoice{
    margin-right: 10%;
    margin-left: 10%;

    @media print {
        .invoice {page-break-after: always;}
      }

    .invoice-payment-info-block{
        border: 1px solid black;

        p {
            margin-bottom: 5px;
        }
    }

    .receiver-info {
        p {
            font-size: 18px;
            margin: 0px;
            text-transform: capitalize;
        }
    }

    #invoice-rows-table {
        table {
            margin-top: 80px;

            thead{
                th {
                    border-top: none;
                    border-bottom: 1px solid black;
                    padding: 0 .75rem;
                }
            }

            tbody {
                td {
                    padding: .25rem .75rem;
                    border-bottom: 1px solid black;
                }
                tr.invoice-totals-block {
                    padding: 0;
                    td {
                        border-bottom: none;
                        border-top: none;
                        text-align: right;
                        padding: 0 .75rem;
                    }
                }

                tr.invoice-total-to-pay-block{
                    td{
                        border-bottom: none;
                        border-top: 2px solid black;
                        text-align: right;
                        padding: 0 .75rem;
                    }
                }
            }
        }
    }
}